//colors
$main-color:#73beb3;
$intro-h2: #00ffff;
$text-color: #818991;
$social-color:#54aed4;
$social-color-active: #22b1ee;
$footer-color:#818991;
$social-icon-active:#82d6a8;
$pikch-wrap-color:#000000;
$border-color: rgb(100,149,237);

//fonts
$main-font: RobotoSlab;
$sub-font: MyriadPro;

//diefferent-sizes
$text-size: 1.4rem;
$content-width:75%;

//adaptive
$mobile-width: 120px;
$mobile-max-width:767px;
$tablet-width: 768px;
$tablet-max-width: 1100px;
$desktop-width: 1028px;
